body {
  color: white;
  background-color: rgb(47, 213, 223);
}

/* HEADER */
#header-nav {
  background-color: yellow;
  border-radius: 0;
  border: 0;
  min-height: 100px;
}
.navbar-header {
  min-height: 100px;
}

.navbar-toggle {
  margin-top: 35px;
  background-color: rgb(47, 213, 223);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: yellow;
  }
.navbar-brand h1 {
  font-size: 2.5em;
}
.navbar-brand a { /* Company name */
  font-family: Helvetica, serif;
  color: rgb(23, 199, 223);
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color: rgb(23, 199, 223);
    text-align: center;
    font-size: 1.5em;
}
#nav-list a:hover {
    background: white;
}

/* END HEADER */

/* MAIN CONTENT */
.row {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: yellow;
  color: rgb(23, 199, 223);
  min-height: 1000px;
}
.row h3 {
  text-align: center;
}
